body {
  margin: 0;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 17px 9px 15px;
  gap: 12px;

  position: absolute;
  width: 191px;
  height: 42px;
  left: 52px;
  top: 284px;

  background: #10b981;
  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.main {
  position: absolute;
  width: 550px;
  height: 550px;
  left: 61px;
  top: 64px;

  background: #ecfdf5;
}

#pass-el {
  position: absolute;
  width: 211px;
  height: 39px;
  left: 52px;
  top: 396px;

  background: #273549;
  border-radius: 6px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */

  text-align: center;

  color: #5def92;
}

#title {
  position: absolute;
  width: 354px;
  height: 80px;
  left: 52px;
  top: 115px;

  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  /* or 100% */

  letter-spacing: -0.05em;

  /* night */

  color: #2b283a;
}

#footer {
  margin-top: 500px;
  text-align: center;
  font-family: "Inter";
  font-size: 8px;
  font-style: normal;
}
